.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
*.nav
*.aux
*.out
*.snm
*.toc
*.vrb
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.blg
*.bbl
*.dvi
*.xdv
*.ps
*.pdf
*.gz
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tgz
*.tbz2
*.bz2
*.rar
*.7z
*.bak
*.bib.sav